

/* OPSHTI ELEMENTI */

body 
    {
        background: linear-gradient(to right, white, #c6e8f3); /* white to light blue */
    }

    .form-control {
        font-style:italic;
    }
    .container-fluid {
        width: 80%;
       
    }
    
    .main-container {
        margin: 0 20px;
    }
    footer > p {
        margin: 0;
    }
    footer {
        clear:both;
        padding: 20px;
        margin-top:50px;
    }
    br{
        margin: 0;
    }
    
/* ZA MAIN EJS STRANA */
#RecentPostTitle{  /* naslov na desen block ona najgore sho e */
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding-bottom: 30px;
    margin-bottom: 30px;
}


.middle-container{ /* na middle container desna granica kolku da se delit so recent posts block */
    border-right: 1px solid rgba(0, 0, 0, 0.075);
    height: auto;
}


@media screen and (max-width: 960px){ /* da ja nemat taja linijata na telefon */
    .middle-container{
        border-right: none;
    }
    .formaPost{
        width: 80%;
    }
}

/* SEGA ZA DESNO BLOKOJTE OD RECENT POSTS */

.postsArea {  /* CELIOT DEL BEZ NASLOVOT  NA BLOKOT NA PR RECENT POSTS HERE */
    max-height: 600px;
    overflow-y: auto;
}

.recentPostBlocks { /* CSS za site blokoj od postoj so ke se kreiret */
    display:flex;
    flex-direction: column;
    background-color:white;
    margin-bottom: 20px;
    border-radius: 5px;
    max-height: auto;
    width: 100%;
    padding: 10px;
    overflow-wrap: break-word; 
    word-break: break-word;
    box-sizing: border-box;
    cursor: pointer;
}


.RecentPostNaslov {
    margin-bottom: 15px;
}
.RecentPostContent {
    margin-bottom: 15px;
}

.RecentPostByKoj {
    font-size: 0.8rem;
    color: #555;
    margin: 0;
}

/* CSS za main post displayed */

.MainPostFooter {
    font-size: 0.9rem;
    color: rgb(93, 93, 93);
    clear: both;
    float: right;
}

.MainPostTitle, .MainPostContent, .MainPostFooter{
    margin-bottom: 50px;
    overflow-wrap: break-word;
}
.MainPostTitle {
    text-align: center;
}

.MainPostContent{
    margin-top: 0;
}

/* brojach na chars vo cpost.ejs */
#ushteKolku {       
    margin-bottom: 5px;
}


/* CSS ZA SEARCH STRANANA */
.SearchBlock {
    border-bottom: 1px solid rgba(128, 128, 128, 0.314);
    margin-bottom: 10px;
    width: 60%;
}

.searchcontainer {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#SearchTitle{
    justify-content: center;
    align-items: center;
    display:flex;
    margin-bottom: 50px;
}


.SearchPostFooter {
    font-size: 0.9rem;
    color: rgb(93, 93, 93);
    clear: both;
    float: right;
}

